@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  width: 1045px;
  margin: 0 auto;
}

.button {
  width: 293px;
  height: 70px;
  margin: 60px 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #fff;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border-radius: 3.5px;
}

.line {
  margin: 20px auto;
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
}

.title {
  font-size: 40px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
}

.sub-title {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin: auto;
  width: 650px;
}

.pbd {
  padding: 0 15px;
}

.content {
  font-family: "Titillium Web", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-sb-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hi {
  background-color: #87509c;
  height: 560px;
  padding: 30px 0 0 0;
}
.hi__text {
  font-size: 42.2px;
  line-height: 48px;
  font-weight: 700;
  color: #f7f3ea;
  text-align: center;
  margin: auto;
}
.hi__button {
  margin: 60px auto;
}
.hi__button button {
  background-color: #eb7d4b;
}
.hi__button button:hover {
  background-color: #17c2a4;
}
.hi__button button:active {
  background-color: #30bae7;
  text-decoration: underline;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
}

.navigation {
  word-spacing: 40px;
}
.navigation a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.navigation a:hover {
  background-color: #643a79;
  padding: 5px 14px;
  border-radius: 5px;
}

.footer {
  background-color: #344b8e;
  height: 110px;
}

.contact {
  padding: 45px 0;
}
.contact li {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.contact li:hover {
  color: #30bae7;
}

.service {
  background-color: #17c2a4;
  text-align: center;
  height: 750px;
  color: #fff;
}
.service__title {
  padding-top: 110px;
}
.service__sub-title {
  width: 600px;
}

.provide {
  margin-top: 300px;
}
.provide__item {
  letter-spacing: 0.02em;
  padding: 0 15px;
}
.provide__title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.provide__text {
  width: 200px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: auto;
}

.team {
  padding: 70px 0;
}
.team__title {
  color: #3c4761;
}
.team__sub-title {
  color: #3c4761;
}