@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.container {
    width: 1045px;
    margin: 0 auto;
}

.button {
    width: 293px;
    height: 70px;
    margin: 60px auto;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #fff;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 3.5px;
}

.grey-circle {
    background-color: #878787;
    border-radius: 50%;
    margin: 0 auto;
}

.line {
    margin: 20px auto;
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: #000000;
}

.title {
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}

.sub-title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin: auto;
    width: 650px;
}

.pbd {
    padding: 0 15px;
}

.mini-text {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.mini-title {
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.content {
    font-family: "Titillium Web", sans-serif;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-sb-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-sb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hi {
    background-color: #87509c;
    height: 560px;
    padding: 30px 0 0 0;
}
.hi__text {
    font-size: 42.2px;
    line-height: 48px;
    font-weight: 700;
    color: #f7f3ea;
    text-align: center;
    margin: auto;
}
.hi__button {
    margin: 60px auto;
}
.hi__button button {
    background-color: #eb7d4b;
}
.hi__button button:hover {
    background-color: #17c2a4;
}
.hi__button button:active {
    background-color: #30bae7;
    text-decoration: underline;
}

.header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 130px;
}

.navigation {
    word-spacing: 40px;
}
.navigation a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.navigation a:hover {
    background-color: #643a79;
    padding: 5px 14px;
    border-radius: 5px;
}

.footer {
    background-color: #344b8e;
    height: 110px;
}

.contact {
    padding: 45px 0;
}
.contact li a {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.02em;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.contact li a:hover {
    color: #30bae7;
}

.service {
    background-color: #17c2a4;
    text-align: center;
    color: #fff;
    padding: 80px 0;
}
.service__sub-title {
    width: 600px;
}

.provide {
    margin-top: 130px;
}
.provide__item {
    letter-spacing: 0.02em;
    padding: 0 15px;
}
.provide i {
    font-size: 8em;
    margin-bottom: 40px;
}
.provide__title {
    margin: 20px 0;
}
.provide__text {
    margin: auto;
}

.meet {
    background-color: #e7f1f8;
    padding: 100px 0;
    color: #3c4761;
}

.team {
    margin-top: 80px;
}
.team__item {
    text-align: center;
    letter-spacing: 0.02em;
    color: #3c4761;
}
.team__photo {
    width: 200px;
    height: 200px;
}
.team__name {
    margin: 40px 0 15px 0;
}
.team__specialty {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #30bae7;
}
.team__specialty:hover {
    text-decoration: underline;
}
.team__text {
    margin: 15px auto;
}
.team__social-network {
    margin: 0 10px;
}
.team__social-network i {
    font-size: 1.7em;
}

.skils {
    margin-top: 50px;
}
.skils__sub-title {
    text-align: center;
}

.schedule {
    margin: 80px 0;
}
.schedule__item {
    text-align: center;
}
.schedule__count {
    font-size: 4em;
    margin-bottom: 20px;
    padding: 45px 30px;
    border-radius: 50%;
}
.schedule__count--blue {
    border: 10px solid #30bae7;
    border-top: 10px solid #dfe8ed;
}
.schedule__count--blue:hover {
    color: #30bae7;
}
.schedule__count--red {
    border: 10px solid #d74680;
    border-left: 10px solid #dfe8ed;
}
.schedule__count--red:hover {
    color: #d74680;
}
.schedule__count--green {
    border: 10px solid #15c7a8;
    border-left: 10px solid #dfe8ed;
}
.schedule__count--green:hover {
    color: #15c7a8;
}
.schedule__count--orange {
    border: 10px solid #eb7d4b;
    border-top: 10px solid #dfe8ed;
}
.schedule__count--orange:hover {
    color: #eb7d4b;
}
.schedule__sub-title {
    color: #3c4761;
}

.our-portfolio {
    background-color: #ffdd99;
    padding: 70px 0;
}
.our-portfolio__sub-title {
    text-align: center;
}
.our-portfolio__button button {
    background-color: #17c2a4;
}
.our-portfolio__button button:hover {
    background-color: #30bae7;
}
.our-portfolio__button button:active {
    text-decoration: underline;
}

.slider {
    margin: 50px auto;
    width: 300px;
}
.slider li {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #393939;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ebcc8d;
    padding: 10px 23px;
    border-radius: 5px;
    margin: 0 2px;
}
.slider li:hover {
    background-color: #fff;
}

.portfolio__item {
    margin: 10px 0;
}
.portfolio__item img {
    width: 500px;
}
.portfolio__text {
    margin: 10px 0 50px 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #393939;
}

.say {
    color: #fff;
    background-color: #d74680;
    padding: 50px 0;
}
.say__sub-title {
    text-align: center;
}

.poeple__row {
    margin: 0 0 100px 0;
}
.poeple__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.poeple__circle {
    width: 99px;
    height: 99px;
    margin-right: 20px;
}
.poeple__item {
    letter-spacing: 0.02em;
}
.poeple__text {
    font-size: 21px;
    line-height: 31px;
    font-style: italic;
    width: 330px;
}
.poeple__name {
    margin: 15px 0px 0;
}
.poeple__specialty {
    font-size: 18px;
    line-height: 26px;
    color: #ffdd99;
}
