@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.noscript {
    text-align: center;
    margin: 200px 150px;
    background-color: #f00;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
}
.noscript__title {
    font-size: 3em;
    margin: 20px 0;
}
.noscript__title-sup {
    font-size: 1.5em;
    margin: 20px 0;
}

.content {
    font-family: "Titillium Web", sans-serif;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container {
    width: 1045px;
    margin: 0 auto;
}
@media (max-width: 1050px) {
    .container {
        width: 100%;
    }
}

.pbd {
    padding: 0 15px;
}

.mini-text {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.mini-title {
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.flex-sb-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-sb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
}

.button {
    width: 293px;
    height: 70px;
    margin: 60px auto;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #fff;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    border-radius: 3.5px;
}

.line {
    margin: 20px auto;
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: #000000;
}

.title {
    font-size: calc(22px + 14 * ((100vw - 320px) / (1045 - 320)));
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}

.sub-title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin: auto;
    max-width: 650px;
}

.grey-circle {
    background-color: #878787;
    border-radius: 50%;
}

.hi {
    background-color: #87509c;
    height: calc(560px + 15 * (100vw / 1045));
    padding: 30px 0 0 0;
}
.hi__text {
    font-size: calc(38px + 13 * (100vw / 1045));
    line-height: calc(30px + 17 * (100vw / 1045));
    font-weight: 700;
    color: #f7f3ea;
    text-align: center;
    margin: auto;
}
@media (max-width: 1050px) {
    .hi__text {
        font-size: calc(28px + 14 * ((100vw - 320px) / (1045 - 320)));
    }
}
.hi__button {
    margin: 60px auto;
}
.hi__button button {
    background-color: #eb7d4b;
}
.hi__button button:hover {
    background-color: #17c2a4;
}
.hi__button button:active {
    background-color: #30bae7;
    text-decoration: underline;
}

.header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 130px;
}
@media (max-width: 638px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__burger span {
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    .header__burger::before, .header__burger::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
}

.navigation {
    word-spacing: 40px;
}
.navigation a {
    font-size: calc(11px + 7 * (100vw / 1045));
    text-transform: uppercase;
    color: #fff;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.navigation a:hover {
    background-color: #643a79;
    padding: 5px 14px;
    border-radius: 7px;
}
@media (max-width: 638px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .navigation a {
        display: none;
    }
}

.service {
    background-color: #17c2a4;
    text-align: center;
    color: #fff;
    padding: 80px 0;
}
.service__sub-title {
    max-width: 600px;
}
@media (max-width: 603px) {
    .service__sub-title {
        max-width: calc(200px + (600 - 200) * ((100vw - 320px) / (1045 - 320)));
    }
}

.provide {
    margin-top: 130px;
}
.provide__item {
    letter-spacing: 0.02em;
    padding: 15px;
}
.provide i {
    font-size: 8em;
    margin-bottom: 40px;
}
.provide__title {
    margin: 20px 0;
}
.provide__text {
    margin: 0 auto;
}
@media (max-width: 923px) {
    .provide__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.meet {
    background-color: #e7f1f8;
    padding: 100px 0;
    color: #3c4761;
}
@media (max-width: 672px) {
    .meet__sub-title {
        max-width: calc(200px + (600 - 200) * ((100vw - 320px) / (1045 - 320)));
        text-align: center;
    }
}

.team {
    margin-top: 80px;
}
.team__item {
    text-align: center;
    letter-spacing: 0.02em;
    color: #3c4761;
    padding: 10px;
}
.team__photo {
    width: 200px;
    height: 200px;
}
.team__name {
    margin: 40px 0 15px 0;
}
.team__specialty {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #30bae7;
}
.team__specialty:hover {
    text-decoration: underline;
}
.team__text {
    margin: 15px auto;
}
.team__social-network {
    margin: 0 10px;
}
.team__social-network i {
    font-size: 1.7em;
}
@media (max-width: 878px) {
    .team__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.skils {
    margin-top: 50px;
}
.skils__sub-title {
    text-align: center;
}
@media (max-width: 656px) {
    .skils__sub-title {
        max-width: calc(200px + (600 - 200) * ((100vw - 320px) / (1045 - 320)));
    }
}

.schedule {
    margin: 80px 0;
}
.schedule__items {
    text-align: center;
    padding: 15px;
}
.schedule__item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
.schedule__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.schedule__line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #dfe8ed;
}
.schedule__line--blue {
    background-color: #30bae7;
}
.schedule__line--purple {
    background-color: #d74680;
}
.schedule__line--green {
    background-color: #15c7a8;
}
.schedule__line--orange {
    background-color: #eb7d4b;
}
.schedule__line--blue::after {
    height: 15%;
}
.schedule__line--purple::after {
    height: 43%;
}
.schedule__line--green::after {
    height: 65%;
}
.schedule__line--orange::after {
    height: 30%;
}
.schedule__body {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    z-index: 4;
}
.schedule__text {
    margin-top: 53px;
    font-size: 4em;
}
.schedule__text span {
    font-size: 40px;
}
.schedule__sub-title {
    margin-top: 20px;
    color: #3c4761;
}
@media (max-width: 815px) {
    .schedule__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.our-portfolio {
    background-color: #ffdd99;
    padding: 70px 0;
}
.our-portfolio__sub-title {
    text-align: center;
}
.our-portfolio__button button {
    background-color: #17c2a4;
}
.our-portfolio__button button:hover {
    background-color: #30bae7;
}
.our-portfolio__button button:active {
    text-decoration: underline;
}

.slider {
    margin: 50px auto;
    max-width: 350px;
}
.slider li a {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #393939;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    background-color: #ebcc8d;
    padding: 10px 23px;
    border-radius: 5px;
    margin: 0 3px;
}
.slider li a:hover {
    background-color: #fff;
}
@media (max-width: 337px) {
    .slider li a {
        font-size: 14px;
        padding: 5px 15px;
    }
}

.portfolio__item {
    margin: 10px 0;
    display: none;
}
.portfolio__item img {
    max-width: 100%;
}
.portfolio__item:target {
    display: block;
}
.portfolio__text {
    margin: 10px 0 50px 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #393939;
}
@media (max-width: 1000px) {
    .portfolio__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.say {
    color: #fff;
    background-color: #d74680;
    padding: 30px 0;
}
.say__sub-title {
    text-align: center;
}

.poeple {
    margin-top: 50px;
}
.poeple__row {
    margin: 0 0 100px 0;
}
.poeple__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}
.poeple__circle {
    width: 99px;
    height: 99px;
    margin-right: 20px;
}
.poeple__item {
    letter-spacing: 0.02em;
}
.poeple__text {
    font-size: 21px;
    line-height: 31px;
    font-style: italic;
    max-width: 330px;
}
.poeple__name {
    margin: 15px 0px 0;
}
.poeple__specialty {
    font-size: 18px;
    line-height: 26px;
    color: #ffdd99;
}
@media (max-width: 905px) {
    .poeple__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0 0 0 0;
    }
    .poeple__body {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 30px 10px;
    }
    .poeple__text {
        font-size: calc(18px + 3 * ((100vw - 320px) / (1045 - 320)));
    }
}

.touch {
    color: #fff;
    background-color: #344b8e;
    padding: 70px 0;
}
.touch__sub-title {
    text-align: center;
}

.form {
    margin-top: 50px;
}
.form__row input {
    width: 390px;
    height: 56px;
    background-color: #273a71;
    padding: 14px;
    margin: 20px 25px;
    color: #fff;
    border-radius: 5px;
}
.form__textarea {
    width: 840px;
    color: #fff;
    height: 200px;
    background-color: #273a71;
    margin: 30px auto 0 auto;
    padding: 10px;
}
.form__button button {
    background-color: #30bae7;
}
.form__button button:hover {
    background-color: #17c2a4;
}
.form__button button:active {
    text-decoration: underline;
}
@media (max-width: 843px) {
    .form__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .form__textarea {
        width: calc(280px + (840 - 280) * ((100vw - 320px) / (1045 - 320)));
    }
}

.footer {
    background-color: #344b8e;
    height: 110px;
}

.contact {
    padding: 45px 0;
}
.contact li a {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.02em;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}
.contact li a:hover {
    color: #30bae7;
}
@media (max-width: 617px) {
    .contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0;
    }
    .contact li a {
        margin: 15px;
    }
}