// ! Перемменые
$color_87509c: #87509c;
$wite: #fff;
$color_f7f3ea: #f7f3ea;
$color_643a79: #643a79;
$color_eb7d4b: #eb7d4b;
$color_30bae7: #30bae7;
$color_344b8e: #344b8e;
$ls: 0.02em;
$color_17c2a4: #17c2a4;
$color_3c4761: #3c4761;
// ! Шаблоны
%container {
    // $ Ограничивающий контейнер
    width: 1045px;
    margin: 0 auto;
}
%button {
    // $ Основные свойства кнопки
    width: 293px;
    height: 70px;
    margin: 60px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: $ls;
    color: $wite;
    transition-duration: 500ms;
    border-radius: 3.5px;
}
%line {
    // $ Основные свойства линии
    margin: 20px auto;
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: #000000;
}
%title {
    // $ Основные свойства заголовков
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}
%sub-title {
    // $  Основные свойства под заголовка
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin: auto;
    width: 650px;
}
%pbd {
    padding: 0 15px;
}
// ! Миксины
@mixin flex-param($jc, $ai: normal) {
    // $ Миксин для разных flex нужжд
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
