// ! Миксины, шаблоны, перемменые
// ! Перемменые
$color_87509c: #87509c;
$wite: #fff;
$color_f7f3ea: #f7f3ea;
$color_643a79: #643a79;
$color_eb7d4b: #eb7d4b;
$color_30bae7: #30bae7;
$color_344b8e: #344b8e;
$ls: 0.02em;
$color_17c2a4: #17c2a4;
// ! Шаблоны
%container {
    width: 1060px;
    margin: 0 auto;
}
%button {
    width: 293px;
    height: 70px;
    margin: 60px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: $ls;
    color: $wite;
    transition-duration: 550ms;
    border-radius: 3.5px;
}
%line {
    margin: 20px auto;
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: #000000;
}
%title {
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
%sub-title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: $wite;
    margin: auto;
}
// ! Миксины
@mixin flex-param($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
