@import "_zero";
@import "_additionally";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
.container {
    @extend %container;
}
.pbd {
    @extend %pbd;
}
.mini-text {
    @extend %mini-text;
}
.mini-title {
    @extend %mini-title;
}
.content {
    // $ Основной сонтент
    font-family: "Titillium Web", sans-serif;
    flex: 1 1 auto;
}
.flex-sb-cnt {
    @include flex-param(space-between, center);
}
.flex-center {
    @include flex-param(center, center);
}
.flex-sb {
    @include flex-param(space-between);
}
.button {
    @extend %button;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.line {
    @extend %line;
}
.title {
    @extend %title;
}
.sub-title {
    @extend %sub-title;
}
// ! Hi
.hi {
    background-color: $color_87509c;
    height: 560px;
    padding: 30px 0 0 0;
    &__text {
        font-size: 42.2px;
        line-height: 48px;
        font-weight: 700;
        color: $color_f7f3ea;
        text-align: center;
        margin: auto;
    }
    &__button {
        margin: 60px auto;
        & button {
            background-color: $color_eb7d4b;
        }
        & button:hover {
            background-color: $color_17c2a4;
        }
        & button:active {
            background-color: $color_30bae7;
            text-decoration: underline;
        }
    }
}
// ! Header
.header {
    align-items: center;
    margin-bottom: 130px;
}
.navigation {
    word-spacing: 40px;
    a {
        font-size: 16px;
        text-transform: uppercase;
        color: $wite;
        transition-duration: 0.3s;
        &:hover {
            background-color: $color_643a79;
            padding: 5px 14px;
            border-radius: 5px;
        }
    }
}
// ! Footer
.footer {
    background-color: $color_344b8e;
    height: 110px;
}
.contact {
    padding: 45px 0;
    li a {
        color: $wite;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: $ls;
        transition-duration: 300ms;
    }
    li a:hover {
        color: $color_30bae7;
    }
}
// ! Service
.service {
    background-color: $color_17c2a4;
    text-align: center;
    height: 750px;
    color: $wite;
    &__title {
        padding-top: 110px;
    }
    &__sub-title {
        width: 600px;
    }
}
// ! Provide
.provide {
    margin-top: 300px;
    &__item {
        letter-spacing: 0.02em;
        padding: 0 15px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        margin: auto;
    }
}
// ! Meet
.meet {
    background-color: $color_e7f1f8;
    padding: 100px 0;
    &__title {
        color: $color_3c4761;
    }
    &__sub-title {
        color: $color_3c4761;
    }
}
// ! Team
.team {
    margin-top: 80px;
    &__item {
        text-align: center;
        letter-spacing: 0.02em;
        color: $color_3c4761;
    }

    &__photo {
        width: 200px;
        height: 200px;
        background-color: #878787;
        border-radius: 50%;
        margin: 0 auto;
    }
    &__name {
        margin: 40px 0 15px 0;
    }
    &__specialty {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: $ls;
        color: #30bae7;
    }
    &__specialty:hover {
        text-decoration: underline;
    }
    &__text {
        margin: 15px auto;
    }

    &__social-network {
        margin: 0 10px;
        & i {
            font-size: 1.7em;
        }
    }
}
