@import "_zero";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
// ! Перемменые
$color_87509c: #87509c;
$wite: #fff;
$color_f7f3ea: #f7f3ea;
$color_643a79: #643a79;
$color_eb7d4b: #eb7d4b;
$color_30bae7: #30bae7;
$color_344b8e: #344b8e;
$ls: 0.02em;
$color_17c2a4: #17c2a4;
$color_3c4761: #3c4761;
$color_e7f1f8: #e7f1f8;
$color_d74680: #d74680;
$color_15c7a8: #15c7a8;
$color_dfe8ed: #dfe8ed;
$color_ebcc8d: #ebcc8d;
$color_273a71: #273a71;

// ! Миксины
@mixin flex-param($jc, $ai: normal) {
    // $ Миксин для разных flex нужжд
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
// ! Независимые классы
.container {
    // $ Ограничивающий контейнер
    width: 1045px;
    margin: 0 auto;
    @media (max-width: 1050px) {
        width: 100%;
    }
}
.pbd {
    padding: 0 15px;
}
.mini-text {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.mini-title {
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.content {
    // $ Основной сонтент
    font-family: "Titillium Web", sans-serif;
    flex: 1 1 auto;
}
.flex-sb-cnt {
    @include flex-param(space-between, center);
}
.flex-center {
    @include flex-param(center, center);
}
.flex-sb {
    @include flex-param(space-between);
}
.button {
    // $ Основные свойства кнопки
    width: 293px;
    height: 70px;
    margin: 60px auto;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: $ls;
    color: $wite;
    transition-duration: 500ms;
    border-radius: 3.5px;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.line {
    // $ Основные свойства линии
    margin: 20px auto;
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: #000000;
}
.title {
    // $ Основные свойства заголовков
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}
.sub-title {
    // $  Основные свойства под заголовка
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin: auto;
    width: 650px;
}
.grey-circle {
    background-color: #878787;
    border-radius: 50%;
}

// ! main
@import "main/_hi&head.scss";
@import "main/_service&provide.scss";
@import "main/_meet&team.scss";
@import "main/_skils&schedule.scss";
@import "main/_portfolio.scss";
@import "main/_say&people.scss";
@import "main/_touch&form.scss";
@import "main/_footer&contact.scss";
